html,
body {
    font-family: "Noto Sans TC", sans-serif;
    font-family: "Baskervville SC", serif;

}

.header {
    background: #cec7c7;
    font-weight: 500;
    height: 150px;
    
}


.header-up {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
}

.md-hd {
    display: flex;
    justify-content: center;
    align-items: center;
}

.md-hd>a {
    font-size: 40px;
    text-align: center;
    font-weight: 800;
    text-decoration: none;
    color: black;
}

.left-hd {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    margin-top: 20px;
}

.right-hd {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin-top: 20px;
}

.left-hd>div>a {
    text-decoration: none;
    color: black;
    margin: 10px;
    padding-left: 10px;
}

.right-hd>div>a {
    text-decoration: none;
    color: black;
    margin: 10px;
    padding-right: 10px;
}

.header-down {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.header-down>a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

.wrap {
    padding: 0 35px;
    height: 100vh;
}